body {
    background-color: #8080801f !important;
    color: #0073a8;
    font-size: 16px;
    a {
        color: #0073a8;
        font-size: 16px;
    }
    .blackfont {
        color: #000000;
    }
    .smallfontsize {
        font-size: 12px;
    }
}

.container-fluid {
    //padding-right: 0px;
    //padding-left: 0px;
    //overflow: hidden;
}

.headerContainer {
    //height: 70px;
    background-color: #fff;
    .header_image {
        width: 70px;
    }
    nav {
        margin-top: 6px;
        a {
            color: #0073a8 !important;
            .fa {
                margin-right: 3px;
            }
        }
        .onlyIcons {
            margin: 12px 20px;
        }
    }
}

footer {
    position: relative;
    .kang {
        background-color: #0F3852;
        color: #ffffff;
        padding-top: 15px;
    }
    .panel-heading {
        background-color: #0F3852;
        margin-bottom: -3px;
        font-size: 26px;
        color: #ffffff;
        text-decoration: none solid white;
        text-align: center;
        margin-top: 10px;
    }
    .post-container {
        overflow: auto;
        padding-bottom: 25px;
    }
    .post-thumb {
        float: left;
    }
    .post-content {
        padding-left: 80px;
    }
    .mainquicklinks {
        background-color: #F7F7F7;
        padding-top: 20px;
        padding-bottom: 20px;
        .btmmainquicklinks {
            padding-bottom: 10px;
            img {
                margin-right: 8px;
            }
        }
    }
}

.center {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2,
.h2 {
    font-size: 26px;
}

h1,
.h1 {
    font-size: 56px;
    margin-bottom: 40px;
    line-height: 61px;
}

h4,
.h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    vertical-align: middle;
}

.mt-top-zero {
    margin-top: 0px;
    padding-top: 0px;
}

.btn {
    opacity: 1;
    color: #ffffff;
    background-color: #0073a8;
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 32px;
    border-width: 1px;
    border-color: #0073a8;
    border-style: solid;
    height: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.42857143;
    font-size: 16px;
}

.banner_image {
    width: 100%;
}

.con_image {
    width: 100%;
}

.breadcrumb {
    /*background-color: #8080801f !important;*/
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 16px;
    a {
        font-size: 16px;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        content: ">" !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        font-size: 16px;
    }
}