body {
    background-color: #8080801f !important;
}

.div_container {
    width: 80%;
    margin: 0 10%;
}

.header_container {
    height: 50px;
    background-color: #fff;
}

.header_image {
    height: 30px;
}

.banner_image {
    width: 100%;
}

.card_container {
    padding: 20px;
}

.card {
    width: 48%;
    display: inline-block !important;
    margin: 5px 0px;
}

.card-body {
    text-align: center;
}

.card_image {
    width: 80px;
}

.con_image {
    width: 100%;
}

.quick_link_details {
    display: inline-block;
    width: 31%;
    background-color: #fff;
    margin: 10px;
    color: rgb(0, 47, 255);
    font-weight: bold;
}

.link_image {
    height: 20px;
}

.dropbtn {
    background-color: #fff;
    color: rgb(0, 47, 255);
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    text-align: left;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

.nav_bar_header {
    display: inline-block;
    float: right;
    right: 10px;
}

.search_ele {
    width: 40%;
    top: -10px;
    position: relative;
    border-radius: 3px;
    box-shadow: none;
    border-style: none;
    padding: 5px;
}