.main_container {
    padding-bottom: 30px;
}

.benefits_banner {
    background: url('assets/img/5db73cd5dba56c10c8f29c46b996192b.iix') no-repeat left top;
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

.top_banner_form {
    margin-top: -15px;
}

.card_container {
    padding: 20px;
}

.backBtn {
    position: fixed;
    right: 15%;
    bottom: 200px;
    z-index: 1;
    width: 100px;
    background: #0096db;
    background-image: -webkit-linear-gradient(top, #0096db, #2980b9);
    background-image: -moz-linear-gradient(top, #0096db, #2980b9);
    background-image: -ms-linear-gradient(top, #0096db, #2980b9);
    background-image: -o-linear-gradient(top, #0096db, #2980b9);
    background-image: linear-gradient(to bottom, #0096db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #0096db;
    font-size: 16px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    border: solid #0096db 2px;
    text-decoration: none;
}